In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
AuC = pd.read_excel("./Chexpert_Race_AUCs.xlsx")
AuC.head(5)

    Race  Seed_19  Seed_31  Seed_38  Seed_47  Seed_77
0  Asian     0.86     0.87     0.84     0.84     0.88
1  Black     0.87     0.84     0.84     0.84     0.87
2  White     0.88     0.82     0.85     0.86     0.88

In [3]:
numeric_cols = AuC.select_dtypes(include='number').iloc[:, 0:]
round(numeric_cols.mean(axis=0),3)

Seed_19    0.870
Seed_31    0.843
Seed_38    0.843
Seed_47    0.847
Seed_77    0.877
dtype: float64

In [4]:
mean=round(numeric_cols.mean(axis=0).mean(),3)
confidence_interval=round( 1.96 * numeric_cols.mean(axis=0).std()/np.sqrt(5) ,3 )

print("Mean of 3 aucs mean over 5 run: ",mean)
print(" Confidence interval of 3 aucs mean over 5 run: ",confidence_interval)

Mean of 3 aucs mean over 5 run:  0.856
 Confidence interval of 3 aucs mean over 5 run:  0.014

In [5]:
print("mean of auce per disease over 5 run:     ")
round(numeric_cols.mean(axis=1),3)

mean of auce per disease over 5 run:

0    0.858
1    0.852
2    0.858
dtype: float64

In [6]:
print("confidence interval of auce per disease over 5 run:")
round(1.96 * numeric_cols.std(axis=1)/ np.sqrt(5),3)

confidence interval of auce per disease over 5 run:

0    0.016
1    0.014
2    0.022
dtype: float64